.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 144px;
    width: 100%;
}
.links{
    text-decoration: none;
    width: auto;
}
.link{
    margin-right: 32px;
    text-decoration: none;
    color: #777E90;
}
.butt1{
    width: 111px;
    height: 40px;
    border-radius: 90px;
    color: #FCFCFD;
    border: solid 2px #777E90;
}
.navicons{
    margin-right: 24px;
    color: #777E90; 
}
.logoc{
    border-right: 1px solid #777E90;
    padding-right: 50px;
}